pyserver/__pycache__
pyserver/.venv

# Logs
spectro-cli/logs
spectro-cli/*.log
spectro-cli/npm-debug.log*
spectro-cli/yarn-debug.log*
spectro-cli/yarn-error.log*
spectro-cli/pnpm-debug.log*
spectro-cli/lerna-debug.log*

spectro-cli/node_modules
spectro-cli/dist-ssr
spectro-cli/*.local

spectro-cli/.env

sshkey

# Editor directories and files
spectro-cli/.vscode/*
spectro-cli/!.vscode/extensions.json
spectro-cli/.idea
spectro-cli/.DS_Store
spectro-cli/*.suo
spectro-cli/*.ntvs*
spectro-cli/*.njsproj
spectro-cli/*.sln
spectro-cli/*.sw?
